h1{
   text-align: center;
    color: rgb(247, 151, 218);
    font-size: 50px;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;;
    
    font-style: oblique;
    
    

}
body{
    padding:  20px;
    margin: 50px;
}
 button{
    position: center;
    text-align: center;
    color: plum;
    background-color: white;
    border-radius: 10px;
    border-color: plum;
    border-style: dashed;
    padding:20px;
    font-size: large;
    margin:10px, 70px, 70px, 10px ;
    cursor: pointer;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;

    
} 
#box{ 

 text-align: center;
 margin-bottom: 70px;

}
#message {
    border-style: solid;
    border-radius: 10px;
    border-color: black;
    padding: 70px;
    font-size: 50px;
    font-family: 'Courier New', Courier, monospace;
    /* background-position: center center;
    background-size: cover; */
    height: 550px;
    background-image: url( bk2.jpeg);
    text-align:center;
    color: black;
    /* background-repeat: ; */
}