h1{
   text-align: center;
    color: rgb(173, 122, 221);
    font-size: 50px;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;;
    padding: 10px, 10px, ;
    font-style: oblique;
    border: 10px, black, solid;
    b

}
body{
    padding:  20px;
    margin: 50px;
}
 button{
    position: center;
    text-align: center;
    color: plum;
    background-color: white;
    border-radius: 10px;
    border-color: plum;
    border-style: dashed;
    padding:20px;
    font-size: large;
    margin:10px, 70px, 70px, 10px ;
    cursor: pointer;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;

    
} 
#box{ 

 text-align: center;
 margin-bottom: 70px;

}
#message{
    border-style: solid;
    border-radius: 10px;
    border-color: black;
    padding:30px;
    font-size: 50px;
    font-family:'Courier New', Courier, monospace;
}